{% if site.analytics %}
  {% if site.analytics.google_analytics %}
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics.google_analytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ site.analytics.google_analytics }}');
    </script>
  {% endif %}

  {% if site.analytics.plausible %}
    <!-- Plausible Analytics -->
    {% assign script_url = site.analytics.plausible.script_url | default: "https://plausible.io/js/script.js" %}
    {% assign domain = site.analytics.plausible.domain %}
    <script defer data-domain="{{ domain }}" src="{{ script_url }}"></script>
  {% endif %}
{% endif %}
